<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/styles.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  
  <body>
    
    <div class="index-body">
      <h1>BONJOUR!</h1>
      
      <div class="index">
	<h1>NEWS ARENA FOR THE LATEST UPDATES!</h1>
  <h2>Welcome to our news website.</h2>
  <h3>To continue to read interesting and latest news. <br>Please login</h3>
    
  </div>
  <h3><a href="/userLogin">Login</a></h3>

</div>
  </body>
</html>